html, body {
    height: 100%;
    margin: 0%;
}
main{
    min-height: calc(100vh - 50px);
    display: flex;
    flex-direction: row;
    margin: 0;
}
img {
    max-width: 250px;
}
h3 {
    margin-top: 5%;
    margin-bottom: 1%;
}
table{
    margin: 0;
}
td {
    border: 0;
    padding: 0;
    vertical-align: text-top;
}
p {
    margin: 0%;
    margin-top: 5px;
}
a {
    color: blue;
}
.wrapper {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
    margin: 0;
}
.title {
    font-size: x-large;
}
.cv{
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 80%;
    min-width: 680px;
    min-height: 100vh;
    padding: 5% 0;
}
.timeline {
    display: flex;
    flex-direction: column;
    width: 90%;
    text-align: left;
    padding-left: 5%;
}
.knowledge {
    display: flex;
    flex-direction: column;
    width: 90%;
    text-align: left;
    padding-left: 5%;
}
td.left{
    border-right: solid black 2px;
}
p.left{
    text-align: right;
    padding-right: 15px;
    font-size: larger;
}
p.right{
    text-align: left;
    margin-left: 15px;
    font-size: larger;
}
p.sub{
    margin-left: 15px;
    font-size: large;
}
p.git {
    font-size: large;
}
.personal{
    display: flex;
    flex-direction: column;
    min-width: 400px;
    text-align: center;
    background-color: lightgray;
    padding: 3% 0;
}
.info {
    min-width: 75%;
    text-align: left;
    margin-left: 15%;
}
.kontakt {
    min-width: 75%;
    text-align: left;
    margin-left: 15%;
}
.skill {
    min-width: 75%;
    text-align: left;
    margin-left: 15%;
}
.download {
    margin-top: 5%;
    text-align: center;
}